<p id="notice"><%= notice %></p>

<h1>All Series</h1>
<h4><%= link_to "Data Sources", data_sources_path %></h4>

<h5>Search</h5>
<%= form_tag series_index_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "search" %>
<% end %>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @series_list.each do |series| %>
      <tr>
        <td><%= link_to series.name, series %></td>
      </tr>
    <% end %>
  </tbody>
</table>
